<h1>{{t 'appName'}}</h1>

<!--h4>{{moment-format nextEdition 'LLLL'}}</h4-->
<h3>{{t 'nextEditionIn'}} {{moment-from-now nextEdition interval=1000 }}</h3>

{{#if session.isAuthenticated}}

	<div class='jumbotron'>
	<p>De momento sólo estás autorizao a salir</p>
	<p>Pero mola saber que esto sólo lo lees si estás autenticado de verdá como usuario registrado.</p>
	<p>Llevas aquí desde {{moment-from-now (now) interval=1000}}</p>
	</div>
 {{else}}
	<div class='well'>
  <p>{{t 'hiAreIn'}} {{t 'appName'}}</p>
	<p>{{t 'register1'}}. {{t 'register2'}}. {{t 'register3'}}. </p>
	<p>{{t 'siCond'}} {{moment-from-now (now) interval=1000}} {{t 'endCond'}}. {{t 'askHelp'}}.</p>
	<p>{{t 'gracias'}}</p>
	</div>
{{/if}}
