{{#if editions.length}}
<!--
<ul>
  {{#each editions as |edition index|}}
{{#if (eqarray index editions.length)}}
    <li>Hello, {{edition.fecha}}! You're number {{index}} in line</li>
{{else}}
    <li>{{index}} </li>
{{/if}}
  {{/each}}
</ul>
-->
{{#each editions as |edition|}}
{{#if (is-after edition.fecha comparison precision='second')}}
<!--
<h3>{{t 'appName'}}. 
{{t 'nextEditionIn'}} {{editions.length}}ª: <span class="label label-info">{{edition.name}}</span> {{moment-format edition.fecha}}... {{moment-from-now edition.fecha interval=1000 }}
</h3>
-->
<h3>{{t 'appName'}} ... {{moment-from-now edition.fecha interval=1000 }}</h3>
<h4>{{moment-format edition.fecha}}</h4>
<h4>{{editions.length}} ediciones</h4>
{{/if}}
{{/each}}

{{/if}}

{{#if teams.length}}
<h4> {{teams.length}} equipos</h4>
{{/if}}
{{#if pintxos.length}}
<h4> {{pintxos.length}} pintxos</h4>
{{/if}}
{{#if categories.length}}
<h4> {{categories.length}} categorías para votar</h4>
{{/if}}


<!--

 {{#each (each_with_index) editions as |edition|}}
  <li>{{index}} {{edition.name}}</li>
 {{/each}}

<p>{{moment-duration nextEdition}}</p>
<p>{{moment-format nextEdition}}</p>
<p>is before {{is-before nextEdition comparison precision='second'}}</p>
<p>is after {{is-after nextEdition comparison precision='second'}}</p>
-->
{{#if session.isAuthenticated}}

	<div class='well'>
	<p>{{t 'chooseTeam'}} {{#link-to 'teams' class='btn btn-default'}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>{{/link-to}}</p>
	<p>{{t 'choosePintxo'}} {{#link-to 'pintxos' class='btn btn-default'}}<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>{{/link-to}}</p>
	<p>{{t 'openVoteIn'}} {{moment-from-now nextEditionEnds interval=1000 }}</p>
	</div>
 {{else}}
	<div class='well'>
  <p>{{t 'hiAreIn'}} {{t 'appName'}}</p>
	<p>{{t 'register1'}}. 
	{{#link-to 'sign-up' class='btn btn-default'}}{{t 'register2'}} <span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{/link-to}}</p>
	<p>{{t 'register3'}}. </p>
	<p>{{t 'siCond'}} {{moment-from-now (now) interval=1000}} {{t 'endCond'}}. {{t 'askHelp'}}.</p>
	<p>{{t 'gracias'}}</p>
	</div>
{{/if}}
