<div class='page-header'>
{{#if session.currentUser.displayName}}
    <h1>Configura tu cuenta {{displayName}}</h1>
{{else}}
    <h1>Configura tu cuenta {{session.currentUser.email}}</h1>
{{/if}}
</div>
{{#if session.currentUser.isValidEmail}}
<p>Abajo muestro la info del currentUser: email y profileImageURL.</p>
<div class='panel panel-default'>  
    <div class='panel-heading'>{{session.currentUser.email}} ID: {{session.currentUser.uid}}</div>
    <div class='panel-body'>
        <img src='{{session.currentUser.profileImageURL}}' />
    </div>
</div> 
{{else}}
    <p>Te hemos enviado un correo de confirmación que ya veremos cómo confirmas.</p>
    <p>Si no lo has recibido (puede tardar unos minutos) vamos a poner un botón para que te lo vuelva a enviar.</p>
    <p>Mientras, si quieres, puedes ir rellenando lo que te falta. Los campos obligatorios (*) son necesarios para poder votar.</p>
{{/if}}
{{outlet}}
