<h1 {{action 'signOut'}}><span class="glyphicon glyphicon-log-out" aria-hidden="true" title="logout"></span></h1>
<div class='well'>
{{#if session.currentUser.emailVerified}}
<p>{{t 'profileSettings'}}</p>
	<!--button class='btn btn-default' {{action 'signOut'}} title="logout">
		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
	</button-->
<p>ID: {{session.currentUser.uid}}</p>
<div class='well'>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
    <div class="col-sm-8">
	    {{input value=nick class="form-control" placeholder=session.currentUser.displayName}}
    </div>
    <div class="col-sm-2">
	<button class='btn btn-default' {{action 'basicUpdateUser'}} title="actualiza tu perfil">
		<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
	</button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></label>
    <div class="col-sm-8">
      <p class="form-control-static">{{session.currentUser.email}}</p>
    </div>
    <div class="col-sm-2">
	<!--button class='btn btn-default' {{action 'basicUpdateUser'}} title="actualiza tu perfil">
		<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
	</button-->
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
    <div class="col-sm-8">
      <p class="form-control-static">******</p>
    </div>
    <div class="col-sm-2">
	<!--button class='btn btn-default' {{action 'basicUpdateUser'}} title="actualiza tu perfil">
		<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
	</button-->
    </div>
  </div>

  <div class="form-group">
    <label for="inputPhoto" class="col-sm-2 control-label">
{{#if session.currentUser.photoURL}}
	<img class="avatar" src='{{session.currentUser.photoURL}}' />
{{else}}
	<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
{{/if}}
    </label>
    <div class="col-sm-8">
	    {{input value=photoURL class="form-control" placeholder=session.currentUser.photoURL}}
    </div>
    <div class="col-sm-2">
	<button class='btn btn-default' {{action 'basicUpdateUser'}} title="actualiza tu perfil">
		<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
	</button>
    </div>
  </div>

</form>


</div>


{{else}}
    {{#if confirmEmail}}
    	<p>{{t 'mailSent'}}.</p>
	{{else}}
	    <p>{{t 'mailSending'}}</p>
    	<p>{{t 'ifNotMail'}} <span class="btn btn-default"{{action 'sendEmailVerification'}}>{{t 'clickHere'}}</span> {{t 'resendMail'}}.</p>
    {{/if}}
    <!--p>Mientras, si quieres, puedes ir rellenando lo que te falta, porque los campos obligatorios (*) son necesarios para poder votar.</p-->
{{/if}}

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </div>

{{outlet}}
